body,html{
    height: 100%;
}
body{
    background-color: lightskyblue;
}

.post{
    height: 150px;
    float: left;
    margin: 20px;
    border: white 1px solid;
}

.container{
    margin-top: 50px;
}



