<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1>this is the roll-dice page, please set a number on the path</h1>

<a href="roll-dice.html">Now roll the dice </a>
<h1 th:text="${message}"></h1>

<a href="roll-dice.html/1">1</a>
<a href="roll-dice.html/2">2</a>
<a href="roll-dice.html/3">3</a>
<a href="roll-dice.html/4">4</a>
<a href="roll-dice.html/5">5</a>
<a href="roll-dice.html/6">6</a>

</body>
</html>